@import url('../../../../styles/tableStyles.css');

.sucursal{
    background: beige;
    width: 155px;
    height: auto;
    border-radius: 10px;
    padding: 14px;
    margin-left: 5%;
    margin-bottom: 15px;
    font-size: 24px;
    color: brown;
    cursor: pointer;
  }
  
  .edit{
    color: white;
    text-align: center;
    text-decoration: none;
    background: blue;
    display: block;
    width: 90%;
    padding-top: 5px;
    cursor: pointer;
  }
  
  .admin{
    background: green;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  
  .delete{
    background: red;
    border-radius: 5px;
    width: 10%;
    font-size: 20px;
  }

.dulce1{
    text-align: center;
}

.accions{
    flex-grow: 1;
}

h1{width: 76%;
    text-align: center;
    margin-left: 12.7%;
    background: brown;
    height: auto;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    color: wheat;
    font-family: "FontsCarta";
    padding-top: 10px;
    padding-bottom: 10px;}