<h1>
    {{'bebidas' | translate}}
</h1>


<div class="container">    
    <div class="extra">
        <div id="ensalada" (click)="navigateCaliente()"  class="ensalada_ind">
            <div class="title" style="display: flex;">
                <div class="image" id="ensalada1" style="  margin-left: 3.5%; position: relative;">
                    <div><img src="../../assets/images/drinksMenu/bebidasCalientes.png" alt="" style=" position: absolute;
                    left: 0px;
                    width: 100%;
                  ">   </div>
    
                   </div>
                   <div class="title2" style="position: relative;">
                   <p id="ensalada2">
                    {{'bebidas.calientes' | translate}}
                   </p>
                   </div>
    
            </div>
        </div>  
        <div id="ensalada" (click)="navigateFria()"  class="ensalada_ind">
            <div class="title" style="display: flex;">
                <div class="image" id="ensalada1" style="  margin-left: 3.5%; position: relative;">
                    <div><img src="../../assets/images/drinksMenu/bebidasFrias.jpg" alt="" style=" position: absolute;
                    left: 0px;
                    width: 100%;
                  ">   </div>
    
                   </div>
                   <div class="title2" style="position: relative;">
                   <p id="ensalada2">
                    {{'bebidas.frias' | translate}}      
                   </p>
                   </div>
    
            </div>
        </div>    
    </div>
</div>