<h1>
    {{'menu.main' | translate}}
</h1>

<div class="container">
    <div class="link"(click)="navigateProductos()">
        <div >{{'menu.productos' | translate}}</div>
    </div>
    <div class="link"(click)="navigateUsuarios()">
        <div >{{'menu.usuarios.caja' | translate}}</div>
    </div>
    <div class="link"(click)="navigateSucursales()">
        <div >{{'menu.sucursales' | translate}}</div>
    </div>
    <div class="link"(click)="navigateFacturas()">
        <div >{{'facturas' | translate}}</div>
    </div>
    <div class="link"(click)="navigateVentas()">
        <div >{{'menu.ventas' | translate}}</div>
    </div>
</div>