<h1>
    {{'crepas.dulce.stock' | translate}}
</h1>

<div class="container">
    <div class="link"(click)="navigateHarinas()">
        <div >{{'crepas.dulces.harinas' | translate}}</div>
    </div>
    <div class="link"(click)="navigateUntables()">
        <div >{{'crepas.dulces.ingredientes.unt' | translate}}</div>
    </div>
    <div class="link"(click)="navigateComplementarios()">
        <div >{{'crepas.dulces.ingredientes.com' | translate}}</div>
    </div>
    <div class="link"(click)="navigateNieve()">
        <div >{{'crepas.dulces.nieves' | translate}}</div>
    </div>
</div>