@font-face {
    font-family: "FontsCarta";
    src: url("../../../fots/KaushanScript-Regular.ttf");
  }

*{
    font-family: "FontsCarta";
}

.container{
    margin-left: 35%;
    margin-top: 2vh;
    width: 30%;
    background: oldlace;
    border-radius: 5px;
}

input{
    width: 92%;
    margin-bottom: 20px;
    height: 35px;
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 3%;
}

button{
    margin-left: 30%;
    width: 40%;
    height: 40px;
    background: burlywood;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

h1{
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
    padding-top: 45px;
    font-family: "FontsCarta";
}

h2{
    margin: 0px;
    font-size: 20px;
    margin-left: 10px;
    font-family: "FontsCarta";
}

@media (max-width: 1000px){
    .container{
        margin-left: 33%;
        width: 34%;
    }
}

@media (max-width: 900px){
    .container{
        margin-left: 32%;
        width: 36%;
    }
}

@media (max-width: 832px){
    .container{
        margin-left: 20%;
        width: 60%;
    }
}

@media (max-width: 600px){
    .container{
        margin-top: 0vh;
        margin-left: 0%;
        width: 100%;
        height: 100vh;
    }
}

@media (max-width: 300px){
    button{
        font-size: 15px;
    }
}

@media (max-width: 232px){
    button{
        font-size: 12px;
    }
}