<h1>
    {{'waffles.canasta' | translate}}
</h1>

<div class="container">
    <div class="link" (click)="navigateUntables()">
        <div >{{'crepas.dulces.ingredientes.unt' | translate}}</div>
    </div>
    <div class="link" (click)="navigateComplementarios()">
        <div >{{'crepas.dulces.ingredientes.com' | translate}}</div>
    </div>
    <div class="link" (click)="navigateNieves()">
        <div >{{'crepas.dulces.nieves' | translate}}</div>
    </div>
    <div class="link"(click)="navigateDecoracion()">
        <div >{{'crepas.dulces.decoracion' | translate}}</div>
    </div>
    <div class="link" (click)="navigatePrecios()">
        <div >{{'crepas.dulces.precios' | translate}}</div>
    </div>
</div>