<h1>
    {{'crepas.salada.stock' | translate}}
</h1>

<div class="container">
    <div class="link"(click)="navigateIngredientePrincipal()">
        <div >{{'crepas.salada.ingrediente.principales' | translate}}</div>
    </div>
    <div class="link"(click)="navigateAdereso()">
        <div >{{'crepas.adereso.edit.aderesos' | translate}}</div>
    </div>
    <div class="link"(click)="navigateAderesosBase()">
        <div >{{'crepas.adereso.edit.aderesos.base' | translate}}</div>
    </div>
    <div class="link"(click)="navigateIngredientesBase()">
        <div >{{'crepas.salada.ingrediente.bases' | translate}}</div>
    </div>
</div>