<h1>
    {{'waffles' | translate}}
</h1>


<div class="container">    
    <div class="extra">
        <div id="ensalada" (click)="navigateWaffles()"  class="ensalada_ind">
            <div class="title" style="display: flex;">
                <div class="image" id="ensalada1" style="  margin-left: 3.5%; position: relative;">
                    <div><img src="https://cdnb.artstation.com/p/assets/images/images/022/249/311/large/sasi-datla-waffle-ps-02.jpg?1574697732" alt="" style=" position: absolute;
                    left: 0px;
                    width: 100%;
                  ">   </div>
    
                   </div>
                   <div class="title2" style="position: relative;">
                   <p id="ensalada2">
                    {{'waffles' | translate}}
                   </p>
                   </div>
    
            </div>
        </div>  
        <div id="ensalada" (click)="navigateWafflesCanasta()"  class="ensalada_ind">
            <div class="title" style="display: flex;">
                <div class="image" id="ensalada1" style="  margin-left: 3.5%; position: relative;">
                    <div><img src="https://png.pngtree.com/thumb_back/fw800/background/20220217/pngtree-waffle-basket-with-ice-cream-fruits-yummy-flavor-photo-image_647380.jpg" alt="" style=" position: absolute;
                    left: 0px;
                    width: 100%;
                  ">   </div>
    
                   </div>
                   <div class="title2" style="position: relative;">
                   <p id="ensalada2">
                    {{'waffles.canasta' | translate}}     
                   </p>
                   </div>
    
            </div>
        </div>    
    </div>
</div>