<h1>
    {{'waffles' | translate}}
</h1>


<div class="container">    
    <div class="extra">
        <div id="ensalada" (click)="navigateWaffles()"  class="ensalada_ind">
            <div class="title" style="display: flex;">
                <div class="image" id="ensalada1" style="  margin-left: 3.5%; position: relative;">
                    <div><img src="../../assets/images/wafflesMenu/waffles.jpg" alt="" style=" position: absolute;
                    left: 0px;
                    width: 100%;
                  ">   </div>
    
                   </div>
                   <div class="title2" style="position: relative;">
                   <p id="ensalada2">
                    {{'waffles' | translate}}
                   </p>
                   </div>
    
            </div>
        </div>  
        <div id="ensalada" (click)="navigateWafflesCanasta()"  class="ensalada_ind">
            <div class="title" style="display: flex;">
                <div class="image" id="ensalada1" style="  margin-left: 3.5%; position: relative;">
                    <div><img src="../../assets/images/wafflesMenu/waffleCanasta.jpg" alt="" style=" position: absolute;
                    left: 0px;
                    width: 100%;
                  ">   </div>
    
                   </div>
                   <div class="title2" style="position: relative;">
                   <p id="ensalada2">
                    {{'waffles.canasta' | translate}}     
                   </p>
                   </div>
    
            </div>
        </div>    
    </div>
</div>