<h1>
    {{'precios.crepa.dulce'| translate}}
</h1>
<div class="container"> 
<table class="table">
  <thead class="bg-dark text-white">
      <tr>
          <th class="border-cell dulce">{{'precio'| translate}}</th>
          <th class="border-cell dulce">{{'precio.descripcion'| translate}}</th>
          <th class="border-cell dulce">{{'accions'| translate}}</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let precio of precios">
          <td class="border-cell dulce1">{{precio.precio}}</td>
          <td class="border-cell dulce1">{{precio.descripcion}}</td>
          <td class="border-cell dulce1">
          <div style="position: relative; display: flex;">
              <a (click)="navigateEdit(precio.id)" class="btn edit">
                {{'precio.edit'| translate}}
              </a>
          </div>
          </td>
      </tr>
  </tbody>
</table>    
</div>


<div class="containerRes">
  <!-- Tabla de productos de crepa dulce -->
  <div class="ContRes" *ngFor="let precio of precios">
  <div class="dulceRes">
      <div class="Col">
              <div class="dulce">{{'precio'| translate}}</div>
              <div class="padd">{{precio.precio}}</div>
      </div>
      <div class="Col">
          <div class="dulce">{{'precio.descripcion'| translate}}</div>
          <div class="padd">
            {{precio.descripcion}}
          </div>
  </div>


</div>
<div class="accions">
  <div class="editRes" style="overflow: hidden;" (click)="navigateEdit(precio.id)">
    {{'precio.edit'| translate}}
  </div>      
  </div>
  </div>



  <!-- <div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
                <div>
                    <div class="link" (click)="navigateCreate()">Nuevo Precio</div>
                </div>
        </div>
    </div>
</div> -->