<div class="container1" id="container" style="background-color:beige;"></div>
<div class="containerRes1" id="containerRes" style="background-color:beige;"></div>
<div class="container1" style="background-color:beige;">
<div class="realiz1">
    <button button (click)="viewOrden1()" class="btn1">{{'print' | translate}}</button>
  </div>    
</div>

<div class="containerRes1" style="background-color:beige;">
    <div class="realiz1">
        <button button (click)="viewOrden1()" class="btn1">{{'print' | translate}}</button>
      </div>    
    </div>
