.container{
    margin-left: 10%;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.link{
    background-color: bisque;
    flex-grow: 1;
    height: auto;
    line-height: 1;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    flex-basis: 350px;
    cursor: pointer;
    font-size: 35px;
}

@import url('../../styles/tableStyles.css');