<div class="raw">
    <div class="col-md-4 offset-md-2">
        <div class="card">
            <div class="card-body">
                    <div class="link">
                        <div (click)="navigateCaja()">Usuarios Caja</div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="raw">
    <div class="col-md-4 offset-md-2">
        <div class="card">
            <div class="card-body">
                    <div class="link">
                        <div (click)="navigateEcommer()">Usuarios Ecommer</div>
                    </div>
            </div>
        </div>
    </div>
</div>