<div class="every">
    <div class="container">
        <h1>{{'crepas.dulces.nieve.edit'| translate}}</h1>
        <form>
            <h2>{{'crepas.dulces.harinas'| translate}}</h2>
            <div class="form-group">
                <input type="text" name="harina" placeholder="harina" [(ngModel)]="harina.harina" class="form-control" autofocus>
            </div>                    
            <h2>{{'stock'| translate}}</h2>
            <div class="form-group">           
                <select [(ngModel)]="harina.inventario" class="form-control" name="inventario">
                <option  [value]= "0">
                    false
                </option>
                <option  [value]= "1">
                    true
                </option>
            </select>
        </div> 
            <button class="btn btn-success btn-block" (click)="updateHarina()">
                {{'guardar'| translate}}
            </button>
        </form>              
    </div>
    
    
        <div class="container">
            <h3>{{harina.harina == '' ? ('harina.edit.harina'| translate) : harina.harina}}</h3>
            <p>
                {{harina.inventario === '0' ? ('inventario.false'| translate) : ('inventario.true'| translate)}}
              </p>
        </div>
</div>