<h1>
    {{'crepas' | translate}}
</h1>


<div class="container">    
    <div class="extra">
        <div id="ensalada" (click)="navigateCrepasDulce()"  class="ensalada_ind">
            <div class="title" style="display: flex;">
                <div class="image" id="ensalada1" style="  margin-left: 3.5%; position: relative;">
                    <div><img src="../../../assets/images/crepasMenu/crepaDulce.jpg" alt="" style=" position: absolute;
                    left: 0px;
                    width: 100%;
                  ">   </div>
    
                   </div>
                   <div class="title2" style="position: relative;">
                   <p id="ensalada2">
                    {{'crepas.dulces' | translate}} 
                   </p>
                   </div>
    
            </div>
        </div>  
        <div id="ensalada" (click)="navigateCrepasSalada()"  class="ensalada_ind">
            <div class="title" style="display: flex;">
                <div class="image" id="ensalada1" style="  margin-left: 3.5%; position: relative;">
                    <div><img src="../../../assets/images/crepasMenu/crepaSalada.jpg" alt="" style=" position: absolute;
                    left: 0px;
                    width: 100%;
                  ">   </div>
    
                   </div>
                   <div class="title2" style="position: relative;">
                   <p id="ensalada2">
                    {{'crepas.saladas' | translate}} 
                   </p>
                   </div>
    
            </div>
        </div>    
    </div>
</div>