
<div class="container">
    <h1>{{'password.change'| translate}}</h1>
   <form>
    <h2>{{'password'| translate}}</h2>
        <div class="form-group">
            <input type="text" name="oldPassword" placeholder="{{'password'| translate}}" [(ngModel)]="oldPassword" class="form-control" autofocus>
        </div>
        <h2>{{'password.new'| translate}}</h2>
        <div class="form-group">
            <input type="text" name="newPassword" placeholder="{{'password.new'| translate}}" [(ngModel)]="newPassword" class="form-control" autofocus>
        </div>
        <button class="btn" (click)="updatePassword()">
            {{'password.change'| translate}}
        </button>
    </form>                
   </div>

