@font-face {
  font-family: "FontsCarta";
  src: url("../../../fots/KaushanScript-Regular.ttf");
}

.container{
  width: 80%;
  margin-left: 10.7%;
}
#botana1 > div, #ensalada1 > div{
  top: 25px;
}

#botana{
  margin-top: 30px;margin-right: -7%;
}

#ensalada{
  margin-top: 30px;margin-left: 0px;
}

#waffle2{
  height: 100%;
  left: -30px;
  position: absolute;
  width: 130%;
}

.principal{
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: 250px;
  width: 100%;
}

#botana2{
  margin-top: 30px;
               margin-left: 10px;
}

#ensalada2, #botana21{
  margin-top: 80px;
  margin-left: 10px;
  line-height: 1;
  padding-top: 15px;
}  

#ensalada1{
  width: 50%;
}

#botana1{
  width: 50%;
}

.title{
    text-align: center;
    height: 100%;
    line-height: 150px;
    width: 80%;
    margin-left: 10%;
    background: wheat;
    cursor: pointer;
    font-size: 25px;
    border-radius: 5px;
}
h1{
  width: 76%;
  text-align: center;
  margin-left: 12.7%;
  font-size: 50px;
  background: brown;
  height: 60px;
  line-height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  color: wheat;
  font-family: "FontsCarta"
}

#ensalada > div{
  margin-right: 5%;
}

#ensalada{
  flex: 1;
  width: 50%;
}

#botana > div{
 
  margin-left: 5%;
}

#botana{
  flex: 1;
  width: 50%;
}

.extra{
  display: flex;
  height: 250px;
  margin-left: 3%;
}

.image{
  height: 100%;
  width: 81%;
  margin-left: 13.5%;
  position: relative;
}


.image div {height: 80%;
  overflow: hidden;
  box-shadow: 0px 0px 10px 4px;
  width: 91%;
  position: absolute;
  top: 12px;
  border-radius: 5px;
}

img{
  height: 100%;
  width: 100%;
}

.title1{
  margin-top: -95px;
}



@media (max-width: 880px){
  h1{
    margin-top: 5px;
  }
}

@media (max-width: 1085px){
  img{height: 100%;
  width: 180px;
  position: absolute;
  left: -10px;}
}


@media (max-width: 1000px){
  img{
    height: 100%;
    width: 193px;
    position: absolute;
    left: -18px;
  }
  .container{
    width: 85%;
  margin-left: 7.7%;
  }

  #ensalada1{
    width: 80%;
  }

  #botana1{
    width: 60%;
  }
}

@media (max-width: 850px){
  .container{
    width: 90%;
    margin-left: 5.7%;
  }

  .image{
    width: 90%;
  margin-left: 9.5%;
  }


}

@media (max-width: 750px){
  .container{
    width: 98%;
    margin-left: 0px;
  }
}

@media (max-width: 660px){



  #botana21, #ensalada2{
    margin-left: -5px;
  }
}

@media (max-width: 654px){
  img{
    height: 100%;
    width: 180px;
    position: absolute;
    left: 0px;
  }
}

@media (max-width: 670px){
  .title{
    width: 90%;
  margin-left: 5%;
  }

  
  .extra{
    margin-top: -25px;
    margin-left: 0px;
  }
  .image{
    width: 95%;
  margin-left: 7.5%;
  }

  .principal{
    grid-template-rows: 230px;
  }

  .extra{
    flex-direction: column;
  }

  #botana, #ensalada{
    width: 100%;
    margin-left: -1.5%;
  }

  #botana1 > div, #ensalada1 > div{
    top: 20px;
  }
  #ensalada2, #botana21{
    margin-top: 50px;
  }

  #ensalada1{
    width: 60%;
  }

  #ensalada div{
    height: 192px;
  }

  #ensalada1 div{
    height: 80%;
  }

  .title{
    width: 95%;
  }

  #ensalada2, #botana21{
    position: absolute;
  }

  .image{
    height: 97%;
    margin-left: 5.5%;
  }

  .title1{
    margin-top: -88px;
  }

  #botana{
    margin-top: 10px;
  }
  
  #ensalada{
    margin-top: 10px;
  }

  .image div{
    width: 94%;
    top: 7px;
  }
}



@media (max-width: 660px){



  #botana21{
    margin-left: 5px;
  }
}

@media (max-width: 580px){
  img{
    height: 100%;
  width: 160px;
  position: absolute;
  left: 0px;
  }
}

@media (max-width: 530px){
  img{
    height: 100%;
  width: 160px;
  position: absolute;
  left: -10px;
  }
}

@media (max-width: 420px){
  img{
    height: 100%;
  width: 160px;
  position: absolute;
  left: -21px;
  }
}




@media (max-width: 472px){

    h1{
      font-size: 40px;
      height: 60px;
    }


}

@media (max-width: 470px){
  .principal{
    grid-template-rows: 200px;
  }

  #botana .title, #ensalada .title{
    height: 190px;
  }

  #ensalada2, #botana21{
    margin-top: 65px;
  }
  .extra{
    margin-top: 0px;
  }

}


@media (max-width: 400px){
.principal{
  grid-template-rows: 150px;
}

#botana .title, #ensalada .title{
  height: 160px;
}

#waffle2{
  left: -17px;
}

.title1{
  font-size: 18px;margin-top: -83px;
}

#ensalada1 div{
  height: 64%;
}

#botana2{
  margin-top: 10px;
}

#ensalada2, #botana21{
  margin-top: 40px;
}
.extra{
  margin-top: 50px;
}
}

@media (max-width: 390px) {
  img{
    height: 100%;
    width: 155px;
    position: absolute;
    left: -28px;
  }

  #waffle2{
    height: 100%;
  left: -29px;
  position: absolute;
  width: 155px;
  }
}
  

@media (max-width: 380px){
  h1{
    font-size: 35px;
    height: 55px;
  }
}

@media (max-width: 335px){
  h1{
    font-size: 30px;
    height: 53px;
    line-height: 53px;
    width: 70%;
    margin-left: 15%;
  }
}

@media (max-width: 300px){
  h1{
    font-size: 20px;
    width: 66%;
    margin-left: 17%;
    height: 40px;
    line-height: 40px;
  }
}

.extra{
  margin-left: 0%;
}

@media (max-width: 1000px){
  #ensalada1{
    width: 65%;
  }

  #ensalada2, #botana21{
    position: absolute;
    left: -20px;
  }

  .ensalada2{
    font-size: 19px;
  }
}


@media (max-width: 670px) {
  .title2{
    width: 35%;
    margin-left: 4%;
  }

  #ensalada2, #botana21{
    margin-top: 80px;
  }

  .title{
    height: 200px;
  }
  #ensalada1 {
    width: 55%;
  }

  #ensalada1 div{
    height: 95%;
  }

  .ensalada2, #botana21 {
    font-size: 25px;
  }


  #ensalada .title{
    height: 220px;
  }
}

@media (max-width: 400px) {
  #ensalada2, #botana21 {
    margin-top: 55px;
  }

  #ensalada1 div{
    height: 80%;
  }

  #ensalada .title{
    height: 192px;
  }
}



