<h1>
    {{'caja' | translate}}
</h1>

<div class="container">    
    <div class="principal">
    <div (click)="navigateCrepas()" class="crepas">
        <div class="title">
            <div class="image">
                <div>
                 <img src="../../../assets/images/mainMenu/crepas.jpg" alt="">      
                </div>
             
            </div>
            <p class="title1">
                {{'crepas' | translate}}        
            </p>
            
        </div>
    </div>
    <div (click)="navigateBebidas()" class="bebidas">
        <div class="title">
            <div class="image"><div>

            
                <img src="../../../assets/images/mainMenu/bebidas.jpg" alt="">  
            </div> 
               </div>
               <p class="title1">
                {{'bebidas' | translate}}      
               </p>
        </div>
    </div>
    <div (click)="navigateWaffle()" class="waffles">
        <div class="title">
            <div class="image" style="position: relative;">
                <div>
                <img src="../../../assets/images/mainMenu/waffles.webp" alt="" id="waffle2">                       
                </div>

               </div>
               <p class="title1">
                {{'waffles' | translate}}     
               </p>
        </div>
    </div>
</div>
<div class="extra">
    <div id="ensalada" (click)="navigateBotana()"  class="ensalada_ind">
        <div class="title" style="display: flex;">
            <div class="image" id="ensalada1" style="  margin-left: 3.5%; position: relative;">
                <div><img src="../../../assets/images/mainMenu/botanas.jpg" alt="" style=" position: absolute;
                left: 0px;
                width: 100%;
              ">   </div>

               </div>
               <div class="title2" style="position: relative;">
               <p id="botana21">
                {{'botanas' | translate}}
               </p>
               </div>

        </div>
    </div>  
    <div id="ensalada" (click)="navigateEnsaladaInd()"  class="ensalada_ind">
        <div class="title" style="display: flex;">
            <div class="image" id="ensalada1" style="  margin-left: 3.5%; position: relative;">
                <div><img src="../../../assets/images/mainMenu/ensaladas.jpg" alt="" style=" position: absolute;
                left: 0px;
                width: 100%;
              ">   </div>

               </div>
               <div class="title2"  style="position: relative;">
               <p id="ensalada2" class="ensalada2">
                {{'ensaladas.individuales' | translate}} 
               </p>
               </div>

        </div>
    </div>    
</div>

</div>