<div class="container">
    <h3 class="card-body">{{usuario.username == '' ? 'Nombre de Usuario' : usuario.username}}</h3>
        <p class="card-body">{{usuario.fullname == '' ? 'Nombre Completo' : usuario.fullname}}</p>
        <p class="card-body">{{usuario.password == '' ? 'Contraseña' : usuario.password}}</p>
        <p class="card-body">{{usuario.numero_caja == 0 ? 'Numero de Caja' : usuario.numero_caja}}</p>
        <p class="card-body">{{sucursal1.nombre == '' ? 'Sucursal' : sucursal1.nombre}}</p>
</div>